<div class="relative z-50">
  <button 
  id="profile-menu-toggle"
    data-ripple-light="true"
    class="mt-icon-btn !rounded-full ring overflow-hidden"
  >
    <img
      class="w-9 h-9 rounded-full object-cover object-center"
      src="<%=user?.picture || 'https://res.cloudinary.com/dkxbkydf5/image/upload/v1689261143/avatar-_n0ydks.jpg'%>"
      alt=""
    />
  </button>

  <ul id="profile-menu" class="absolute top-[70px] right-4 bg-white p-3 rounded shadow border hidden">
    <% if (user?.role === 'admin') { %>
    <a href="/admin" tabIndex="-1" role="menuitem" class="mt-menu-item">
      <i class="fa-solid fa-user-cog"></i>
      <span> Admin </span>
    </a>
    <% } %>

    <a href="/my-profile" tabIndex="-1" role="menuitem" class="mt-menu-item">
      <i class="fa-solid fa-circle-user"></i>
      <span> My Profile </span>
    </a>

    <a href="/my-orders" tabIndex="-1" role="menuitem" class="mt-menu-item">
      <i class="fa-solid fa-list"></i>
      <span> My Orders </span>
    </a>

    <a
      href="./change-password"
      tabIndex="-1"
      role="menuitem"
      class="mt-menu-item"
    >
      <i class="fa fa-lock"></i>
      <span> Change Password </span>
    </a>

    <hr class="my-2 border-blue-gray-50" tabindex="-1" role="menuitem" />
    <a href="/logout" tabIndex="-1" role="menuitem" class="mt-menu-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        aria-hidden="true"
        class="h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5.636 5.636a9 9 0 1012.728 0M12 3v9"
        ></path>
      </svg>
      <span> Log Out </span>
    </a>
  </ul>
</div>
