 <div class="w-full px-4 xl:w-4/12">
   <div class="p-6 border border-blue-100 dark:bg-gray-900 dark:border-gray-900 bg-blue-50 md:p-8">
     <h2 class="mb-8 font-semibold text-gray-700 dark:text-gray-400 flex justify-between items-center flex-col gap-2 sm:flex-row">
       <span class="text-2xl">Order Summary</span>
       <small class="text-base">Total Items: <span class="cartQuantity"></span> </small>
     </h2>
     <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-300 dark:border-gray-700 ">
       <span class="text-gray-700 dark:text-gray-400">Subtotal</span>
       <span class="cartSubTotal text-xl font-bold text-gray-700 dark:text-gray-400 "> 0 </span>
     </div>
     <div class="flex items-center justify-between pb-4 mb-4 ">
       <span class="text-gray-700 dark:text-gray-400 ">Shipping</span>
       <span class="text-xl font-bold text-gray-700 dark:text-gray-400 ">Free</span>
     </div>
     <div class="flex items-center justify-between pb-4 mb-4 ">
       <span class="text-gray-700 dark:text-gray-400">Order Total</span>
       <span class="cartSubTotal text-xl font-bold text-gray-700 dark:text-gray-400"> 0 </span>
     </div>
  
     <div class="flex items-center justify-between ">
       <a href="/checkout" class="block w-full py-4 font-bold text-center text-gray-100 uppercase bg-blue-500 rounded-md hover:bg-blue-600">Checkout</a>
     </div>
   </div>
 </div>