      <div class="relative w-full px-4 mb-16 md:w-1/2 lg:w-1/4 lg:mb-0">
        <div class="absolute hidden top-5 lg:block left-1/2 ">
          <span class="mb-3 border-b-2 border-r border-blue-600 w-72 md:block left-1/2 dark:border-blue-400 inset-px">
          </span>
        </div>
        <div class="relative text-center">
          <span class="inline-flex items-center justify-center w-10 h-10 mb-8 text-lg text-gray-100 bg-blue-600 rounded-full shadow-md dark:bg-blue-400">
            <i class="fa fa-check"></i>
          </span>
          <h2 class="text-lg font-medium dark:text-gray-400 ">Payment Pending</h2>
        </div>
      </div>

      <div class="relative w-full px-4 mb-16 md:w-1/2 lg:w-1/4 lg:mb-0">
        <div class="absolute hidden top-5 lg:block left-1/2 ">
          <span class="mb-3 border-b-2 border-r border-gray-300 w-72 md:block left-1/2 dark:border-gray-600 inset-px">
          </span>
        </div>
        <div class="relative text-center">
          <span class="inline-flex items-center justify-center w-10 h-10 mb-8 text-lg text-gray-100 bg-blue-600 rounded-full shadow-md dark:bg-blue-400">
            <i class="fa fa-check"></i>
          </span>
          <h2 class="text-lg font-medium dark:text-gray-400">Processing</h2>
        </div>
      </div>

      <div class="relative w-full px-4 mb-16 md:w-1/2 lg:w-1/4 md:mb-0">
        <div class="absolute hidden top-5 lg:block left-1/2 ">
          <span class="mb-3 border-b-2 border-r border-gray-300 w-72 md:block left-1/2 dark:border-gray-600 inset-px">
          </span>
        </div>
        <div class="relative text-center">
          <span class="inline-flex items-center justify-center w-10 h-10 mb-8 text-lg text-gray-700 bg-gray-200 rounded-full shadow-md dark:text-gray-400 dark:bg-gray-700">
            3
          </span>
          <h2 class="text-lg font-medium dark:text-gray-400">Shipped</h2>
        </div>
      </div>

      <div class="relative w-full px-4 md:w-1/2 lg:w-1/4">
        <div class="relative text-center">
          <span class="inline-flex items-center justify-center w-10 h-10 mb-8 text-gray-700 bg-gray-200 rounded-full shadow-md dark:text-gray-400 dark:bg-gray-700">
            4
          </span>
          <h2 class="text-lg font-medium dark:text-gray-400">Delivered</h2>
        </div>
      </div>